.App {
  text-align: justify;
}

.ui.secondary.pointing.menu{
  background-color: #0052f7;
}


.App-header {
  background-color: #0052f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

